.home{
    background-color: #919091;
    color: white;
    min-height: 780px;

}
.main{
    background-color: #fff;
    width: calc(100% - 20%);
    color: black;

}
.item{
    border: 2px solid #c1c1c1;
    width: 70%;

}
.fa-solid.fa-trash-can:hover{
    color: red;
}.fa-solid.fa-pen:hover{
    color: green;

}
.btn{
    border: none !important;
}

